.latest-meds {
    background-color: transparent;
    background-size: auto 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 10px;
    padding: 200px;
    height: auto;
    /* width: auto; */
}

.latest-meds-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 400px auto;
    max-width: 960px;
    text-align: center;
}

.cards {
    /* margin-right: 20px; */
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: flex-center;
}