.latest-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #D8F3DC;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 1rem;
    background: #B7E4C7;
    box-shadow: 0 0 5px 0 #bbb;
    border-radius: 2%;

}

.cards-wrapper {
    display: inline-flex;
    flex-direction: row-reverse; /*might need reverse? */
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

.card {
    flex-grow: 1;
    flex-shrink: 1;
}

#header-title {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
}